<% provide :title, (t ".namepage") %>
<h1><%= t("static_pages.contact.namepage")%></h1>
<p>
  <%= link_to t(".contactpage"), "http://www.railstutorial.org/contact" %>
  <br>
  <h2> <%= t ".desription" %> </h2>
</p>
